{# Copyright (C) 2020 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
<?php
// {{ ansible_managed }}

$ldap_url = "{{ selfservicepassword__ldap_url }}";
$ldap_starttls = {{ selfservicepassword__ldap_starttls }};
$ldap_binddn = "{{ selfservicepassword__ldap_binddn }}";
$ldap_bindpw = "{{ selfservicepassword__ldap_bindpw }}";
$ldap_base = "{{ selfservicepassword__ldap_base }}";
$ldap_filter = "{{ selfservicepassword__ldap_filter|regex_replace('\n', '') }}";

$use_pwnedpasswords = {{ selfservicepassword__use_pwnedpasswords }};

$use_questions = {{ selfservicepassword__use_questions }};
$use_tokens = {{ selfservicepassword__use_tokens }};

$mail_address_use_ldap = {{ selfservicepassword__mail_address_use_ldap }};
$mail_from = "{{ selfservicepassword__mail_from }}";
$mail_from_name = "{{ selfservicepassword__mail_from_name }}";
$notify_on_change = {{ selfservicepassword__notify_on_change }};
$mail_smtp_secure = {{ selfservicepassword__mail_smtp_secure }};
$mail_smtp_autotls = {{ selfservicepassword__mail_smtp_autotls }};

$use_sms = {{ selfservicepassword__use_sms }};

$keyphrase = "{{ selfservicepassword__keyphrase }}";

{{ selfservicepassword__custom_configuration }}
